@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Source+Serif+Pro:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-family: "Source Serif Pro", serif;
}

body.locked {
  overflow-y: hidden;
}

a, path {
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
  -webkit-transition: fill 0.15s ease-in;
  transition: fill 0.15s ease-in;
}

address {
  font-style: normal;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #979797 #eaeaee;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #eaeaee;
}

*::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 5px;
  border: 0px none #ffffff;
}

:root {
  --primary-color: #222222;
  --secondary-color: #555555;
  --tertiary-color: #979797;
  --accent-color: #7247CA;
  --hover-color: #58379B;
  --service-color: #FF3636;
  --light-gray-01: #F5F5F7;
  --light-gray-02: #EAEAEE;
}

*::-moz-selection {
  background-color: var(--light-gray-02);
}

*::selection {
  background-color: var(--light-gray-02);
}

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 702px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 16px;
}

.c-page {
  padding: 96px 0px 64px;
}
@media (max-width: 500px) {
  .c-page {
    padding: 48px 0px 49px;
  }
}

.c-about__header {
  margin-bottom: 41px;
}
.c-about__header-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  color: var(--primary-color);
}
.c-about__introdution {
  margin-bottom: 39px;
}
.c-about__title {
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  color: var(--primary-color);
  margin-bottom: 24px;
}
.c-about__text {
  font-size: 16px;
  line-height: 25px;
  color: var(--secondary-color);
}
.c-team__item:not(:last-child) {
  margin-bottom: 39px;
}
@media (max-width: 400px) {
  .c-team__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.c-member {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 39px;
}
.c-member__image {
  width: 100%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.c-member__image img {
  width: 100%;
}
.c-member__image:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
.c-member__position {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: var(--accent-color);
  margin-bottom: 8px;
}
.c-member__name {
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-color);
  margin-bottom: 16px;
}
.c-member__bio {
  font-size: 18px;
  line-height: 25px;
  color: var(--secondary-color);
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .c-member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    gap: 16px;
  }
  .c-member__image {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .c-member__image {
    width: 100%;
  }
}

.c-socials__list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17.45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-socials__item-link:hover path {
  fill: var(--hover-color);
}